
// background images
$bg-etud: url('../img/bg_etud.jpg');
$bg-perso: url('../img/bg_perso.jpg');
$bg-404: url('../img/bg_404.png');

// Couleurs
$noir: #262626;
$orange-upem: #EA5A0B;
$orange-light: #FFAD82;
$gris: #9F9F9F;
$gris2: #C5C1B7;
$lecture: #515151;
$rouge: #FF3300;
$bleu: #0087AB;
$vert: #49AC33;
$rose: #E4003A;
$violet: #660066;
$violet-clair: #CC0099;
$jaune: #FFCC00;
$orange: #FF9900;
$beige: #FFFFCC;

$etat-bleu: #A8DAF7;
$etat-vert: #A1FF8C;
$etat-orange: #FFAA2B;
$etat-jaune: #FFD83F;
$etat-rouge: #FF7E5E;
$etat-gris: #C6C6C6;
$etat-violet: #B784B7;

$etat-bleu-hover: #B7E0F8;
$etat-vert-hover: #B2FFA0;
$etat-orange-hover: #FFB951;
$etat-jaune-hover: #FFDF61;
$etat-rouge-hover: #FF957B;
$etat-gris-hover: #D5D5D5;
$etat-violet-hover: #CAA5CA;

$type-violet: #B798D6;
$type-vert: #96F29D;
$type-orange: #FCC58A;

$type-violet-hover: #CAB4E1;
$type-vert-hover: #B2F5B7;
$type-orange-hover: #FCD4A9;

// logo
$logo-width: 100px;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 1.3rem;
$line-height-base: 1.6;
